@import url(http://fonts.googleapis.com/css?family=Rancho);

/* =========================
*	MAIN STYLE
* ========================= */

#logo { text-align: center; }
#logo h1 { font-family: 'Rancho', cursive; margin: 0; padding: 20px; font-size: 50px }

#top-page #header, #top-page #content {
	background: #d91919;
	width: 100%;
	border-bottom: solid 1px #b61212;
}

#top-page #content { 
	height: 300px;
}

#top-page #content-bottom { 
	text-align: center;
}

#top-page #content-bottom h1 {
	font-size: 24px;
}

#top-page #content-bottom a {
	font-size: 24px;
}

#content #question-title, #result #title {
	color: #2c3e50;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

#content #question-answer {
	width: 300px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
#content #question-answer #question-container {
	width: 10000px; 
	overflow: hidden;
	padding: 5px;
}

#content #question-answer .wrapper {
	width: 300px;
	float: left;
	padding: 5px;
}

#content .candidate { 
	text-align: center;
}
.col-xs-3 { background: #fff; padding: 0 }
#content #candidate .col-xs-3:hover { cursor: pointer; }

div#default-drop-point.row.ui-droppable {
	background: url(../img/put-it-back.png) no-repeat -20px;
	height: 140px;
	margin: 0 auto;
}
#drop-point {
	background: url(../img/drop-here.png) no-repeat -20px;
	height: 158px;
	margin: 0 auto;
	border: solid 5px #d2d2d2;
	text-align: center;
}

#result #candidate-name {
	text-align: center;
}
#result #candidate-name h1 {
	font-size: 25px;
}

#profile-detail .col-lg-3 { 
	padding-left: 5px; 
	padding-right: 5px; 
}

#footer { 
	width: 100%;
	bottom: 0;
	/*position: fixed;*/
	text-align: center
}

#footer .inner {
	padding: 5px;
	font-size: 12px;
}

#footer .inner a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#footer .inner a:hover {
	color: #d91919;
}

img.img-candidate, img.img-candidate-wiki { width: 89px; }

/* =========================
*	RESPONSIVE STYLE
* ========================= */
@media (min-width:768px){
	#footer {  position: fixed; }
}

@media (max-width:768px){
	#footer { padding-top: 10px; padding-bottom: 50px; }
	#group-share { display: none }
}

@media (max-width:400px){
	.container { width: 100% !important; }
	.candidate h4 { font-size: 15px; }
	img.img-candidate-wiki { width: 96%; }
	img.img-candidate { width: 23%; }

	#drop-point { background: url(../img/drop-here.png) no-repeat center; }
}

/*@media (max-width:370px){
	img.img-candidate { width: 24%; }
}*/

/* =========================
*	CUSTOM STYLE
* ========================= */

.clear { clear: both; }
.margin-10 { padding: 10px; }
.pad-10 { padding: 10px; }
.pad-top-10 { padding-top: 10px; }
.font-white { color: #ffffff; }
.font-red { color: #d91919; }
.border { border: solid 1px #ebebeb; }